@charset "UTF-8";
@font-face {
  font-family: 'Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Regular';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  text-decoration: none;
  border: none; }

.screen-wrapper {
  width: 100%;
  height: 1024px;
  position: fixed;
  z-index: 11;
  display: none; }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .screen-wrapper {
      overflow: auto; } }

.mobile-menu {
  font-family: "Regular";
  font-size: 16px;
  color: #1B1C21;
  width: 320px;
  height: 676px;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 60px #F2F2F2;
  background: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  position: absolute;
  z-index: 11; }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .mobile-menu {
      width: 360px; } }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .mobile-menu {
      height: 1024px;
      position: relative; } }

.menu-wrapper {
  width: 100%;
  height: 100%;
  margin: 0; }

.menu-header {
  background-color: #FFFFFF;
  padding: 16px;
  padding-bottom: 20px; }
  .menu-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 88px;
    background: #FFFFFF;
    z-index: 3; }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .menu-header {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .menu-header {
      padding: 18px 24px;
      padding-bottom: 44px; } }

.menu-header,
.menu-header__left,
.menu-header__right {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu-header__body {
  position: relative;
  display: flex;
  background-color: #fff; }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .menu-header__body {
      flex-grow: 1; } }

@media screen and (min-width: 321px) and (max-width: 767px) {
  .menu-header__left {
    flex-grow: 1; } }

.menu-header__burger {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 3;
  margin-right: 16px;
  cursor: pointer;
  background-color: #FF3E79;
  border-radius: 20px; }
  .menu-header__burger:before, .menu-header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 18px;
    height: 2px;
    left: 11px;
    transition: all 0.3s ease 0s;
    border-radius: 1px; }
  .menu-header__burger::before {
    top: 12px; }
  .menu-header__burger::after {
    bottom: 12px; }
  .menu-header__burger span {
    position: absolute;
    background-color: white;
    left: 11px;
    width: 12px;
    height: 2px;
    top: 19px;
    border-radius: 1px;
    transition: all 0.3s ease 0s; }
  .menu-header__burger.active::before {
    transform: rotate(45deg);
    top: 19px; }
  .menu-header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 19px; }
  .menu-header__burger.active span {
    transform: scale(0); }

.menu-header__right {
  margin-left: 77px;
  height: 40px; }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .menu-header__right {
      margin-left: 60px; } }

.header__default {
  height: 40px; }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .header__default {
      margin-left: auto; } }

.menu-header__repair {
  display: none;
  visibility: hidden; }

.menu-img-btn {
  background-color: #FF3E79;
  border-radius: 50%; }

.mobile-menu__navigation {
  top: -200%;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 320px;
  padding-left: 16px; }
  .mobile-menu__navigation.active {
    top: 0%;
    transition: all 0.5s ease 0s; }
  @media screen and (min-width: 321px) and (max-width: 767px) {
    .mobile-menu__navigation {
      padding-left: 24px;
      padding-right: 24px; } }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .mobile-menu__navigation {
      padding-left: 24px; } }

.mobile-menu__list {
  display: block;
  padding: 0;
  margin-bottom: 27px;
  margin-top: 0px; }
  .mobile-menu__list li:not(:last-of-type) {
    margin: 0 0 14px 0; }
  .mobile-menu__list li {
    list-style: none;
    line-height: 24px;
    letter-spacing: -0.2px; }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .mobile-menu__list {
      margin-bottom: 268px; }
      .mobile-menu__list li:not(:last-of-type) {
        margin-bottom: 22px; } }

.mobile-menu__item {
  position: relative;
  width: 80%;
  transition-duration: 200ms;
  padding: 5px;
  display: flex;
  border-radius: 5px;
  position: relative;
  color: #fff;
  background-color: white;
  transition-property: all;
  transition-duration: 200ms, 200ms;
  transition-delay: 0.2s, 0.1s;
  transition-timing-function: linear; }
  .mobile-menu__item:hover {
    border-radius: 5px;
    width: 280px;
    -webkit-filter: drop-shadow(6px 6px 5px #80949F);
            filter: drop-shadow(6px 6px 5px #80949F); }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .mobile-menu__item {
      letter-spacing: -0.2px; } }

.mobile-menu__link {
  width: 100%;
  height: 100%; }
  .mobile-menu__link:active::before, .mobile-menu__link:focus::before {
    content: url(./static/highlight.svg);
    position: absolute;
    left: -16px;
    top: -10px;
    padding-top: 9px; }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .mobile-menu__link:active::before, .mobile-menu__link:focus::before {
      left: -24px; } }

.mobile-menu__buttons.header__hidden {
  display: block;
  height: 40px; }

.header__profile {
  margin-right: 16px; }

.mobile-menu__contacts {
  margin-top: 12px;
  margin-bottom: 8px; }
  @media screen and (min-width: 768px) and (min-height: 800px) {
    .mobile-menu__contacts {
      margin-bottom: 40px; } }

.mobile-menu__email {
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 12px auto;
  margin-top: 16px; }

.mobile-menu__phone {
  font-family: 'Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px; }

.mobile-menu__langvar {
  margin-right: 7px;
  padding-bottom: 32px; }

.langvar.active {
  color: #7E7E82; }

.remain-screen {
  width: 100%;
  height: 150%;
  opacity: 0.96;
  background: #fff;
  position: absolute; }

.modal-first-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 12;
  display: none; }

.modal-window {
  width: 320px;
  height: 676px;
  background-color: #fff;
  color: #B5B6BC;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-family: 'Regular';
  display: block;
  position: absolute;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  z-index: 1; }
  @media screen and (min-width: 1440px) {
    .modal-window {
      width: 440px;
      height: 940px;
      right: 0; } }

.menu-header__burger-modal {
  margin: 24px 16px 40px; }
  @media screen and (min-width: 1440px) {
    .menu-header__burger-modal {
      margin: 24px 16px 40px;
      margin: 0;
      position: absolute;
      top: 32px;
      right: 472px; } }

.main__header.modal-window__header {
  color: #1B1C21;
  margin-bottom: 24px;
  padding-left: 16px; }

.main__header.modal-window__header::before {
  content: url(./static/highlight.svg);
  position: relative;
  left: -16px; }

@media screen and (min-width: 1440px) {
  .main__header.modal-window__header {
    margin-bottom: 24px;
    padding-left: 16px;
    padding-top: 33px; }
  .main__header.modal-window__header::before {
    content: url(./static/highlight.svg);
    position: relative;
    left: -16px; } }

.modal-window__form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px; }
  @media screen and (min-width: 1440px) {
    .modal-window__form {
      padding-left: 32px; } }

.modal-window__form * {
  width: 288px;
  margin-bottom: 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  height: 48px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-top: 12px;
  font-family: 'Regular';
  color: #B5B6BC; }
  @media screen and (min-width: 1440px) {
    .modal-window__form * {
      width: 376px; } }

.modal-window__input {
  padding: 12px 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-family: 'Regular'; }
  .modal-window__input::-webkit-input-placeholder {
    color: #B5B6BC; }
  .modal-window__input::-moz-placeholder {
    color: #B5B6BC; }
  .modal-window__input:-ms-input-placeholder {
    color: #B5B6BC; }
  .modal-window__input::placeholder {
    color: #B5B6BC; }

.modal-window__textarea {
  height: 117px;
  color: #B5B6BC;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-top: 12px;
  padding-left: 16px;
  font-family: 'Regular'; }

.modal-window__privacy {
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  padding: 0;
  margin: 0;
  height: 64px;
  margin-bottom: 19px;
  letter-spacing: 0.2px; }
  @media screen and (min-width: 1440px) {
    .modal-window__privacy {
      height: 48px;
      margin-bottom: 23px; } }

.modal-window__link {
  color: #FF3E79;
  border: none;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0; }

.modal-window__submit {
  background: #fff url(./static/Group10.jpg) no-repeat;
  border: none;
  height: 32px;
  width: 136px;
  margin-left: 152px;
  cursor: pointer; }
  @media screen and (min-width: 1440px) {
    .modal-window__submit {
      margin-left: 240px;
      padding: 0; } }

.general-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: auto; }

body {
  font-family: "Regular";
  font-size: 16px;
  color: #1B1C21;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #1B1C21; }

.mobile-menu-aside {
  display: none;
  box-shadow: none; }
  @media screen and (min-width: 1120px) {
    .mobile-menu-aside .header__default {
      margin-left: auto; }
    .mobile-menu-aside .header__default {
      margin-left: auto; }
    .mobile-menu-aside .menu-header__left {
      flex-grow: 1; }
    .mobile-menu-aside .menu-header__body {
      flex-grow: 1; }
    .mobile-menu-aside .menu-header {
      padding-right: 32px; } }
  @media screen and (min-width: 1440px) {
    .mobile-menu-aside {
      display: block;
      float: left;
      position: sticky;
      top: 0; }
      .mobile-menu-aside .menu-header {
        padding-top: 30px;
        padding-bottom: 30px; } }

.btn {
  border-radius: 50%;
  border: none;
  background-color: inherit;
  cursor: pointer; }
  .btn:not(:last-child) {
    margin-right: 16px; }
  .btn:last-child {
    margin-right: 0; }

.header__default .btn:last-child {
  margin-right: 0; }

.img-btn {
  background-color: #FF3E79;
  border-radius: 50%; }

.header__hidden {
  display: none; }
  @media screen and (min-width: 550px) {
    .header__hidden {
      display: block; } }

.wrapper {
  background-color: #F8F8F8;
  max-width: 1120px;
  margin: 0 auto; }
  @media screen and (min-width: 1440px) {
    .wrapper {
      margin: 0;
      margin-left: auto; } }

.header,
.header__left,
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header {
  background-color: white;
  padding: 16px;
  width: 100%;
  border-bottom: 1px solid #D9FFF5; }
  @media screen and (min-width: 768px) {
    .header {
      padding-right: 24px;
      padding-left: 24px; } }
  @media screen and (min-width: 1440px) {
    .header {
      display: none; } }

.header__logo::before {
  content: url(./static/divider.svg);
  position: relative;
  margin-right: 16px;
  top: -10px;
  display: none; }

@media screen and (min-width: 550px) {
  .header__logo::before {
    display: inline-block; } }

.header__repair::before {
  content: url(./static/divider.svg);
  position: relative;
  margin-right: 12px;
  top: -5px; }

.main {
  padding: 24px 16px;
  padding-right: 0; }
  @media screen and (min-width: 768px) {
    .main {
      padding: 24px;
      padding-right: 0;
      padding-bottom: 32px; } }
  @media screen and (min-width: 1440px) {
    .main {
      padding: 42px 34px;
      padding-bottom: 51px; } }

@media screen and (min-width: 1440px) {
  .main__top {
    display: flex;
    justify-content: space-between; } }

.main__header {
  position: relative;
  font-family: bold;
  margin: 0px; }
  .main__header::before {
    content: url(./static/highlight.svg);
    position: absolute;
    vertical-align: middle;
    left: -16px; }
  @media screen and (min-width: 768px) {
    .main__header::before {
      left: -24px; } }
  @media screen and (min-width: 1440px) {
    .main__header::before {
      left: -34px; } }

.main__top-hidden {
  display: none; }
  @media screen and (min-width: 1440px) {
    .main__top-hidden {
      display: block; } }

.main__repair,
.main__status {
  position: relative; }

.main__repair::before {
  position: relative;
  font-family: "Medium";
  font-size: 16px;
  content: 'Оставить заявку';
  top: -15px;
  left: -5px; }

.main__status::before {
  position: relative;
  font-family: "Medium";
  font-size: 16px;
  content: 'Статус ремонта';
  top: -15px;
  left: -5px; }

.main__navigation {
  padding-top: 24px;
  margin-bottom: 16px; }
  @media screen and (min-width: 768px) {
    .main__navigation {
      margin-bottom: 32px; } }

.main__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  overflow: auto; }
  @media screen and (min-width: 1440px) {
    .main__navigation-list {
      overflow: hidden;
      flex-wrap: wrap;
      line-height: 24px; } }

.main__navigation-item {
  flex-shrink: 0;
  color: #7E7E82;
  border: 2px solid transparent;
  padding: 8px 9px 8px 16px; }
  .main__navigation-item:hover {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px; }

.main__intro {
  padding-right: 16px; }
  @media screen and (min-width: 768px) {
    .main__intro {
      padding-right: 24px; } }
  @media screen and (min-width: 1440px) {
    .main__intro {
      padding-right: 0; } }

@media screen and (min-width: 550px) {
  .intro {
    display: flex;
    justify-content: space-between; } }

@media screen and (min-width: 550px) {
  .intro__about {
    width: 43.33%; } }

@media screen and (min-width: 1440px) {
  .intro__about {
    width: 46.58%; } }

.intro__text {
  color: #1B1C21;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  width: 100%; }
  @media screen and (min-width: 550px) {
    .intro__text {
      margin-right: 40px; } }
  @media screen and (min-width: 768px) {
    .intro__text {
      margin-right: 40px;
      line-height: 20px;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1440px) {
    .intro__text {
      margin-bottom: 14px; } }

@media screen and (min-width: 768px) {
  .intro__firstPar {
    margin: 0; } }

.intro__secondPar {
  display: none; }
  @media screen and (min-width: 768px) {
    .intro__secondPar {
      display: block;
      margin-bottom: 0px; } }

@media screen and (min-width: 768px) {
  .intro__hiddenSection {
    display: none; } }

@media screen and (min-width: 1440px) {
  .intro__hiddenSection {
    display: inline; } }

.button-show-0 {
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px; }

.intro__more {
  border: none;
  background: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Medium";
  font-size: 16px;
  margin-bottom: 16px;
  text-align: start; }
  @media screen and (min-width: 768px) {
    .intro__more::before {
      position: relative;
      top: 4px;
      margin-right: 5px; } }

.button-show-sign,
.button-show-sign-2 {
  vertical-align: super;
  padding-left: 8px; }

@media screen and (min-width: 768px) {
  .intro__signboard {
    width: 50%; } }

@media screen and (min-width: 1440px) {
  .intro__signboard {
    padding-top: 0px;
    min-height: 307px;
    width: 50.48%; } }

.intro__image {
  position: relative;
  border-radius: 2px;
  max-width: 440px;
  right: 16px; }
  @media screen and (min-width: 550px) {
    .intro__image {
      width: 100%;
      height: 102%;
      left: 0px;
      border-radius: 6px;
      max-height: 210px; } }
  @media screen and (min-width: 1440px) {
    .intro__image {
      width: 100%;
      max-width: 532px;
      max-height: 308px; } }

.header-active {
  display: block;
  color: #7E7E82;
  padding: 16px;
  font-size: 16px;
  font-family: "Regular";
  letter-spacing: -0.2px;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 16px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  border-top: 1px solid #D9FFF5;
  border-bottom: none; }
  @media screen and (min-width: 768px) {
    .header-active {
      margin: 0px;
      padding-left: 24px; } }
  @media screen and (min-width: 1440px) {
    .header-active {
      margin: 0px;
      padding-left: 32px;
      background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
      display: block;
      padding-left: 32px; } }

.slider-container-3 {
  padding-left: 8px; }
  @media screen and (min-width: 768px) {
    .slider-container-3 {
      display: flex;
      flex-wrap: wrap;
      padding-top: 0; } }
  @media screen and (min-width: 1440px) {
    .slider-container-3 {
      padding-top: 0; } }

.slider-container, .slider-container-2, .slider-container-3 {
  width: 100%;
  padding-left: 16px;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    .slider-container, .slider-container-2, .slider-container-3 {
      padding: 24px; } }
  @media screen and (min-width: 1440px) {
    .slider-container, .slider-container-2, .slider-container-3 {
      padding: 32px;
      padding-bottom: 0px;
      padding-top: 24px; } }

.swiper-wrapper {
  flex-wrap: nowrap; }
  @media screen and (min-width: 768px) {
    .swiper-wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
      border-radius: 6px; } }
  @media screen and (min-width: 1440px) {
    .swiper-wrapper {
      flex-wrap: wrap;
      justify-content: space-around; } }

.card, .card-2 {
  background-color: #FFFFFF;
  height: 72px;
  margin-right: 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }
  @media screen and (min-width: 768px) {
    .card, .card-2 {
      background-color: #FFFFFF;
      margin-right: 24px;
      margin-bottom: 16px;
      width: 29.16%;
      flex-grow: 1; } }
  @media screen and (min-width: 1440px) {
    .card, .card-2 {
      margin-right: 24px;
      margin-bottom: 16px;
      width: 21.4%;
      flex-grow: 1;
      margin-right: 32px; } }

@media screen and (min-width: 768px) {
  .card:nth-of-type(3n) {
    margin-right: 0; }
  .card:nth-child(n+7) {
    display: none; }
  .card.showIt {
    display: flex;
    width: 29.16%; } }

@media screen and (min-width: 1440px) {
  .card:nth-child(-n+8) {
    display: flex; }
  .card:nth-of-type(3n) {
    margin-right: 32px; }
  .card:nth-of-type(4n) {
    margin-right: 0; }
  .card.showIt {
    display: flex;
    width: 21.4%; } }

.card-2 {
  height: 160px; }
  @media screen and (min-width: 768px) {
    .card-2:nth-of-type(3n) {
      margin-right: 0; }
    .card-2:nth-child(n+4) {
      display: none; }
    .card-2.showIt2 {
      display: flex;
      width: 29.16%; }
    .card-2.dumy-card-2 {
      display: none; } }
  @media screen and (min-width: 1440px) {
    .card-2:nth-child(-n+4) {
      display: flex; }
    .card-2:nth-of-type(3n) {
      margin-right: 32px; }
    .card-2:nth-of-type(4n) {
      margin-right: 0; }
    .card-2:last-of-type {
      margin-right: auto;
      flex-grow: 0; }
    .card-2.showIt2 {
      display: flex;
      width: 21.4%; }
    .card-2.dumy-card-2 {
      visibility: hidden;
      width: 64.2%;
      margin-right: 106px; } }

.swiper-wrapper__brand {
  width: 116px;
  height: 38px;
  margin: auto;
  margin-left: 16px;
  margin-right: 0px; }

.swiper-wrapper__btn {
  width: 100%;
  border: none;
  background: #fff url(./static/go.svg) no-repeat 40px 16px;
  cursor: pointer;
  width: 92px; }

.dumy-card, .dumy-card-2 {
  visibility: hidden; }
  @media screen and (min-width: 1440px) {
    .dumy-card, .dumy-card-2 {
      padding: 16px;
      background-color: green;
      height: 72px;
      margin-bottom: 16px;
      width: 21.4%;
      flex-grow: 1; } }

@media screen and (min-width: 1440px) {
  .button-show, .button-show-2 {
    margin-bottom: 50px; } }

.more {
  display: none; }
  @media screen and (min-width: 768px) {
    .more {
      display: block;
      color: #1B1C21;
      letter-spacing: -0.2px; } }
  @media screen and (min-width: 1440px) {
    .more {
      margin-top: 8px; } }

.swiper-pagination, .swiper-pagination-2 {
  padding-left: 44px;
  padding-top: 16px;
  padding-right: 35px;
  padding-bottom: 24px;
  position: relative; }

.swiper-pagination .swiper-pagination-bullet:nth-of-type(11),
.swiper-pagination .swiper-pagination-bullet:nth-of-type(10),
.swiper-pagination .swiper-pagination-bullet:last-of-type {
  display: none; }

@media screen and (min-width: 768px) {
  .swiper-pagination, .swiper-pagination-2, .swiper-pagination-3 {
    display: none; } }

.swiper-wrapper__service {
  display: block;
  width: 160px;
  margin-left: 16px;
  margin-top: 16px;
  height: 24px;
  font-family: 'Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21; }

.swiper-wrapper__btn-2 {
  width: 100%;
  border: none;
  cursor: pointer;
  background: #fff url(./static/go.svg) no-repeat 0px 104px;
  width: 56px; }

.swiper-pagination-2 {
  padding-left: 56px; }

.card-3 {
  height: 205px;
  font-size: 14px;
  padding-left: 16px;
  padding-top: 16px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }
  @media screen and (min-width: 550px) {
    .card-3 {
      padding-left: 50px; } }
  @media screen and (min-width: 768px) {
    .card-3 {
      padding-left: 16px;
      display: flex;
      height: 64px;
      padding-top: 23px;
      border: none;
      border-radius: 0; }
      .card-3:first-of-type {
        border-radius: 6px 6px 0 0; }
      .card-3:last-of-type {
        border-radius: 0px 0px 6px 6px; }
      .card-3:not(:first-of-type)::after {
        content: '';
        position: absolute;
        width: 94.45%;
        border-bottom: 1px solid #EAEAEA;
        top: 0px; } }
  @media screen and (min-width: 1440px) {
    .card-3 {
      padding-left: 24px; } }

.card-3-header {
  display: none; }
  @media screen and (min-width: 768px) {
    .card-3-header {
      display: flex;
      background-color: #F8F8F8;
      color: #7E7E82;
      margin: 0; }
      .card-3-header .slider-container-3__service--header,
      .card-3-header .slider-container-3__service--price,
      .card-3-header .slider-container-3__service--term {
        display: block; } }

.slider-container-3__service {
  line-height: 18px;
  margin-bottom: 4px; }
  .slider-container-3__service:nth-of-type(2n) {
    margin-bottom: 16px; }
  .slider-container-3__service:nth-of-type(2n+1) {
    color: #7E7E82; }

@media screen and (min-width: 768px) {
  .slider-container-3__service--header,
  .slider-container-3__service--price,
  .slider-container-3__service--term {
    display: none; } }

@media screen and (min-width: 768px) {
  .slider-container-3__service--header {
    width: 53.89%; } }

@media screen and (min-width: 1440px) {
  .slider-container-3__service--description,
  .slider-container-3__service--header {
    width: 46.78%; } }

@media screen and (min-width: 768px) {
  .slider-container-3__service--price {
    width: 12.78%; } }

@media screen and (min-width: 1440px) {
  .slider-container-3__service--price-value,
  .slider-container-3__service--price {
    width: 21.5%; } }

@media screen and (min-width: 768px) {
  .slider-container-3__service--term {
    width: 14.03%; } }

@media screen and (min-width: 1440px) {
  .slider-container-3__service--term {
    width: 18.18%; } }

.swiper-order {
  width: 119px;
  height: 32px;
  border: none;
  background-color: #fff;
  background-image: url(./static/order.png);
  position: relative;
  left: 105px;
  bottom: 47px;
  cursor: pointer; }
  @media screen and (min-width: 550px) {
    .swiper-order {
      left: 215px; } }
  @media screen and (min-width: 768px) {
    .swiper-order {
      left: 0;
      bottom: 7px; } }

@media screen and (min-width: 550px) {
  .swiper-order-dumy {
    display: none; } }

@media screen and (min-width: 768px) {
  .slider-container-3__service--description {
    width: 53.89%; } }

@media screen and (min-width: 768px) {
  .slider-container-3__service--price-value {
    width: 12.78%; } }

@media screen and (min-width: 768px) {
  .slider-container-3__service--term-value {
    width: 14.03%; } }

@media screen and (min-width: 1440px) {
  .slider-container-3__service--term-value {
    width: 18.18%; } }

.swiper-pagination-3 {
  padding-top: 16px;
  padding-left: 106px;
  padding-bottom: 16px; }

.commercial {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 16px 40px;
  background-color: #F8F8F8;
  letter-spacing: 0.2px; }
  @media screen and (min-width: 768px) {
    .commercial {
      padding: 0 25px 47px; } }
  @media screen and (min-width: 1440px) {
    .commercial {
      padding: 32px 34px 50px;
      margin: 0;
      margin-left: auto; } }

.commercial__caution {
  width: 90%;
  color: #1B1C21;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 16px;
  margin: 0; }
  @media screen and (min-width: 768px) {
    .commercial__caution {
      width: 58.5%; } }
  @media screen and (min-width: 1440px) {
    .commercial__caution {
      width: 40.05%; } }

.commercial__button-wrapper {
  width: 66.67%;
  line-height: 24px;
  height: 55px; }
  @media screen and (min-width: 768px) {
    .commercial__button-wrapper {
      width: 43.5%;
      line-height: 24px; } }
  @media screen and (min-width: 1440px) {
    .commercial__button-wrapper {
      width: 29.5%;
      line-height: 24px; } }

.commercial__button {
  border: none;
  background: none;
  font-size: 16px;
  font-family: 'Medium';
  color: #1B1C21;
  line-height: 24px;
  height: 55px;
  text-align: start;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .commercial__button {
      letter-spacing: -0.2px;
      height: 24px; } }

.commercial__line {
  position: relative;
  padding-left: 5px;
  top: 2px; }

.footer * {
  color: #7E7E82;
  padding-top: 16px;
  line-height: 16px;
  font-size: 14px; }

.footer {
  width: 100%;
  border-top: 1px solid #D9FFF5;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 19px;
  padding-top: 0; }
  @media screen and (min-width: 768px) {
    .footer {
      flex-wrap: nowrap;
      padding: 24px;
      padding-top: 16px; } }
  @media screen and (min-width: 1440px) {
    .footer {
      flex-wrap: nowrap;
      padding-left: 31px;
      padding-right: 33px;
      padding-top: 16px; } }

@media screen and (min-width: 768px) {
  .footer__about {
    text-align: left;
    width: 30.3%;
    margin-right: 35px; } }

@media screen and (min-width: 1440px) {
  .footer__about {
    text-align: left;
    width: 20.65%;
    margin-right: 145px; } }

@media screen and (min-width: 768px) {
  .footer__warning {
    text-align: right;
    width: 29.58%;
    margin-left: 40px; } }

@media screen and (min-width: 1440px) {
  .footer__warning {
    text-align: right;
    width: 31.25%;
    margin-left: 149px; } }


/*# sourceMappingURL=style.css.map*/