.modal-first-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 12;
    display: flex;
    overflow: auto;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.modal-window {
    width: 320px;
    height: 676px;
    background-color: #fff;
    color: $bullet-active-color;
    line-height: $base-lh;
    font-size: $base-fs;
    letter-spacing: -0.2px;
    font-family: 'Regular';
    display: block;
    position: absolute;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 1;

    

    @media screen and (min-width: 1440px) {  
        width: 440px;
        height: 940px;
        right: 0;
    }
}

.modal-window__burger-modal {
    margin: 24px 16px 40px;

    @media screen and (min-width: 1440px) {
        margin: 24px 16px 40px;
        margin: 0;
        position: absolute;
        top: 32px;
        right: 472px;
     }

}

.modal-window__header {

        color: $text-color;
        margin-bottom: 24px;
        padding-left: 16px;
        
    
    &::before {
        content: url('../image/icons/highlight.svg');
        position: relative;
        left: -16px;
        background-color: #41F6D7;
    }

    @media screen and (min-width: 1440px) { 
            margin-bottom: 24px;
            padding-left: 16px;
            padding-top: 33px;
        
        &::before {
            content: url('../image/icons/highlight.svg');
            position: relative;
            left: -16px;
        }
    }
}

.modal-window__form {
   display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
    
    @media screen and (min-width: 1440px) { 
        padding-left: 32px;
    }
}
.modal-window__form * {
    width: 288px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid $cards-border-color;
    border-radius: 8px;
    height: 48px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 12px;
    font-family: 'Regular';
    color: $bullet-active-color;

    

    @media screen and (min-width: 1440px) { 
            width: 376px;
    }

}
.modal-window__input {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-family: 'Regular';
    
    &::placeholder {
        color: $bullet-active-color;
    }

}
.modal-window__textarea {
    height: 117px;
    color: $bullet-active-color;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 12px;
    padding-left: 16px;
    font-family: 'Regular';
}

.modal-window__privacy {
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: $secondary-text-color;
    padding: 0;
    margin: 0;
    height: 64px;
    margin-bottom: 19px;
    letter-spacing: 0.2px;

    @media screen and (min-width: 1440px) { 
        height: 48px;
        margin-bottom: 23px;
    }

}
.modal-window__link {
    color: $pinky-color;
    border: none;
    line-height: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;

}
.modal-window__submit {
    background: #fff url('../image/icons/Group10.jpg') no-repeat;
    border: none;
    height: 32px;
    width: 136px;
    margin-left: 152px;
    cursor: pointer;

    @media screen and (min-width: 1440px) { 
        margin-left: 240px;
        padding: 0;
    }

}