
$text-color: #1B1C21;
$pinky-color:  #FF3E79;
$grey-background-color: #F8F8F8;
$divider-border-color: #D9FFF5;
$secondary-text-color: #7E7E82;
$cards-border-color: #EAEAEA;
$bullet-color: #DDDDDD;
$bullet-active-color: #B5B6BC;


$base-fs: 16px;
$base-lh: 24px;

$sm-fs: 14px;
$sm-lh: 20px;
